@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;

}
html{
    font-size: 70%;
}

.education{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'popins', sans-serif;
    gap: 2rem;
    background:black;
    padding-bottom: 6rem;
}

.heading{
    font-size:4rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color:deepskyblue;
}

.col .content{
    padding:0 30px;
    border-left: 2px solid #0AD9F5;
}

.col .content .box{
    position: relative;
    padding: 20px;
    cursor: pointer;
    transition:all 0.4s;
    margin-bottom: 20px;
    box-shadow: 0 3px 12px 0 black;
    border: 1px solid transparent;
}

.col .content .box:hover{
    box-shadow: 0 3px 12px 0 white;
    border: 1px solid transparent;
}

.col .content .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 2rem;
    background-color: #0AD9F5;
    border: 2px solid #0AD9F5;
}


.box h4{
    position: relative;
    color: #0AD9F5;
}

.box h3{
    font-size: 19px;
    padding: 10px 0 6px;
}

.box p{
    line-height: 1.2;
    font-size: 17px;
    /*color: ;*/
}



/******************response*************/

@media (max-width: 768px) {
    .col .content{
        /*padding:0 -10px;*/
        border-left: 2px solid #0AD9F5;

    }

    .col .content .box{
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
    }

    .col .content .box::before{
        position: absolute;
        width: 16px;
        height: 16px;
        left: -3.6rem;
        top: 2rem;

    }

}
@media (max-width: 475px) {

    .heading{
        font-size:3rem;
        margin-bottom: 2rem;
    }

    .col .content{
        padding-left:0;
        margin-left:2rem;
        /*border-left: 2px solid #0AD9F5;*/
    }

    .col .content .box{
        position: relative;
        /*padding: 3rem 1rem ;*/
        margin-right: 1rem;
        margin-left: 3rem;
    }

    .col .content .box::before{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        right: calc(100% );
        top: 2rem;
    }

    .box h3{
        font-size: 19px;
        padding: 10px 0 6px;
    }

    .box p{
        line-height: 1.2;
        font-size: 17px;
    }

}