*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body{
    background: black;
    color: #FFFFFF;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


/***Change Scroll bar style **/

::-webkit-scrollbar{
    width: 10px;
    background: #333030;
}

::-webkit-scrollbar-thumb{
    background: #0AD9F5;
    border-radius: 20px;
}

/***************************** fixed message icon*****************************/

.fixedMessage a{
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    background: transparent;
    color: #0AD9F5;
    transition: .5s ease;
    padding-top: 16px;

}
.message{
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    animation-name: water;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: normal;
}


@keyframes water {
    0%{
        box-shadow: 0 0 5px #0AD9F5;
    }

    20%{
        box-shadow: 0 0 10px #0AD9F5;
    }
    40%{
        box-shadow: 0 0 20px #0AD9F5;
    }
    60%{
        box-shadow: 0 0 30px #0AD9F5;
    }

    80%{
        box-shadow: 0 0 40px #0AD9F5;
    }
    100%{
        box-shadow: 1px 1px 50px #0AD9F5;
    }
}

.fixedMessage a:hover{
    text-decoration: none;
    background: #0AD9F5 ;
    color: #323946 ;
    box-shadow: 0 0 10px #0AD9F5;
    transform: scale(1.1);
    cursor: pointer;
}


/*!*******************************************navigation bar style************************************!*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar a{
    color: #fff;
    font-size: 1.7rem;
    margin-left: 4rem;
    transition:  0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: #0AD9F5;
}

.logo{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: 600;
    cursor: default;
}
span{
    color: #0AD9F5;
}

#menu-icon{
    color: #FFFFFF;
    font-size: 3rem;
    display:none;
}


/*        !*********************************************home page style*******************************************!*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-family:'Poppins', sans-serif;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    color: #0AD9F5;
    border: .2rem solid #0AD9F5;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social_media a:hover{
    background: #0AD9F5 ;
    color: #323946 ;
    box-shadow: 0 0 1rem #0AD9F5;
    transform: scale(1.3);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #0AD9F5;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0AD9F5;
    font-size:1.6rem;
    color: #323946 ;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
    transform: scale(1.1);
}

.container{
    width: 246px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #0AD9F5;
    font-size: 2.9rem;
    font-weight: 700;
}
.container .text.first-text{
    color: #FFF;
    margin-right: 5px;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    border-left: 2px solid #0AD9F5;
    animation: animate 4s steps(13) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

/*        !***********************************about me style****************************************!*/


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    gap: 2rem;
    background:black;
    padding-bottom: 6rem;
}
.heading{
    font-size:5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid #0AD9F5;
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top:0.2rem solid black;
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid #0AD9F5;
    border-right:0.2rem solid #0AD9F5;
    animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p {
    font-family: noto sans-serif;
    font-size: 1.9rem;
    margin: 2rem 0 3rem;
}




/*        !*******************************************************skill style************************************************!*/


.skills .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills p {
    font-family: 'Poppins', sans-serif;
}

.skills h2 {
    font-size: 4rem;
}

.skills .content h3 {
    color: #0AD9F5;
}

.skills .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    overflow: hidden;
    font-size: 1.2rem;
}

.skill_box{
    padding: 2.5rem;
    cursor: pointer;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 20%;
    overflow: hidden;
    transition: .5s ease;
}

.skill_box:hover{
    transform: translateY(-10px);
    box-shadow: 0 3px 12px 0 black;
}

.skill_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    margin-bottom: .5rem;
    position: relative;
    transition: .5s ease;
}

.skill_title:hover {
    transform: scale(1.1);
}

.skills .img {
    width: 90px;
    height: 90px;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.skills .img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill_title h3 {
    margin: 0.5rem;
}

.skill_icon {
    width: 50px;
    z-index: 10;
}





/*    !*****************************************************gallery style************************************************!*/


.gallery{
    background: black;
}
.gallery_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.gallery h2 {
    margin-bottom: 4rem;
}

.gallery_box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease;
}

.gallery_box:hover {
    transform: scale(1.02);
}



/*        !********************************************************services section style*********************************************!*/



.services h2{
    margin-bottom: 5rem;
}

.services_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services_content .services_box {
    flex: 1 1 1rem;
    background:#323946;
    mix-blend-mode: normal;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid black;
    transition: .5s ease;

}

.services_box:hover i {
    background: #0AD9F5;
    color: black;
    box-shadow: 0 0 1rem #0AD9F5;
    transform: scale(1.1);
    transition: .3s ease-in;
}

.services_content .services_box:hover {
    border-color: #0AD9F5;
    transform: scale(1.02);

}

.services_box i {
    font-size: 7rem;
    color: #0AD9F5;
    border-radius: 50%;
}

.services_box h3 {
    font-size: 2.6rem;
}

.services_box p {
    font-family: noto sans-serif;
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/*

/*        !***********************************************************projects style***********************************************!*/

.projects {
    background: black;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.projects h2 {
    margin-bottom: 4rem;
}

.project_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project_content .project_box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
}

.project_box img {
    width: 100%;
    transition: .8s ease;
}

.project_box:hover img {

    filter: blur(8px);
    transform: scale(1.1);
}

.project_box .project_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: deepskyblue; /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 1s ease;
}

.project_box:hover .project_layer {
    transform: translateY(0);
}

.project_layer h4 {
    color: deepskyblue;
    font-size: 3rem;
}

.project_layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

.project_layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #FFFFFF;
    border-radius: 50%;
}

.project_layer a i {
    font-size: 2rem;
    color:black;

}

.assignment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    cursor: pointer;
}


/*        !****************************************************!*contact style!************************************************!*/

.contact{
    z-index: 25;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

.contact form .input_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input_box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    border-radius: .8rem;
    margin: .7rem 0;
    background: #1F2328;
    box-shadow: 0 3px 12px 0 black;

}

.contact form .input_box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


/*    !**************************************************************footer style****************************************************!*/
footer{
    position: relative;
    width: 100%;
    background: #0AD9F5;
    min-height: 100px;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12rem;
}

footer .social-icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li{
    list-style: none;
}

footer .social-icon li a{
    font-size: 3em;
    color: #FFFFFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.5em;
    color: #FFFFFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: black;
}


footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/ass01.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 4px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 7px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 5px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0;
    }
}
@keyframes animateWave_02 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

/***************************************      loader      *****************************************/

#loader {
    transition: opacity 1s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
}

#loader > div {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url("../img/");
    background-size: cover;
    background-position: center;
}



/*****************************************************       responsive          **************************************/

@media (max-width: 1024px) {

    .navbar a{
        margin-left: 3rem;
    }

    .home h1{
        font-size: 5rem;
    }

    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }


    .services{
        padding-bottom: 7rem;
    }
    .projects{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }

}

@media (max-width: 768px) {

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #1f242d;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar li{
        display: flex;
        font-size: 2rem;
        margin: 2.5rem 0;
        align-items: center;
        justify-content: center;
    }

    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 60vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-img{
        /*width: 40vw;*/
        margin-top: 4rem;
    }

    .services h2{
        padding-bottom: 7rem;;
    }

    .projects h2{
        margin-bottom: 3rem;
    }
    .project_content{
        grid-template-columns: repeat(2,1fr);
    }
    .gallery_content{
        grid-template-columns: repeat(2, 1fr);
    }
    .skills .content{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .social_media a{
        width: 2.5rem;
        height: 2.5rem;
    }
    .footer h3{
        font-size: 1.7rem;
    }
}

@media (max-width: 425px) {

    html{
        font-size: 50%;
    }

    .contact form .input_box input{
        width: 100%;
    }

    .project_content{
        grid-template-columns: 1fr;
    }
    .gallery_content{
        grid-template-columns:  1fr;
    }
    .skills .content{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 375px) {

    .home-img img{
        width: 80vw;
    }



    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}